.card.medium.view-card .card-content {
    height: 100%;
}

.card.medium.view-card .card-content > iframe {
  height: 90%;
  width:  100%;
}

.add-view-button {
  position: relative;
  top: 10em;
}

.timeout-interval-text {
  position: relative;
  top: 1.5em;
}

.view-row {
  min-height: 15em;
}

.view-row .col {
  padding: 0px;
}

.view-row .card .card-content {
  padding: 0.5em;;
}
